/* Vars:
   ========================================================================== */

// Font
$fFamily: 'OpenSans-Regular', Helvetica, Arial, sans-serif;

// Mockup sizes
$containerWidthD: 1024px;


// Font-Size / Line-Height / Weight
$fSizeHeadingD: 50px;
$lHeightHeadingD: 54px;

$fSizeHeadingT: 40px;
$lHeightHeadingT: 44px;

$fSizeHeadingM: 30px;
$lHeightHeadingM: 34px;

$fSizeHeading2: 24px;
$lHeightHeading2: 29px;

$fSizeP: 16px;
$lHeightP: 24px;

$fWeight: 400;

// Color
$primaryColor: #ef5b4c;
$secondaryColor: #007bff;
$bgc: #fff;
$bgc2: #f9f9f3;

// Devise sizes

$desktop: 1023px;
$tablet: 767px;
$mobile: 359px;
